body
{
	font-family:arial,verdana;
	font-size:12px;
	margin: 0px auto; 
	width: 100%;
}

.left 
{
	height:620px;
	width:20%;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 7px;
	float:left;
	padding:5px;
	margin-left:10px;
	overflow: auto;
}

.ui-accordion .ui-accordion-content
{
	padding:10px;
}
		
#slider 
{
	margin-left:10%; 	
	width:80%;
}
			
.right#map-container
{
    height:630px;
    width:75%;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 7px;
	float:right;
	margin-right:10px;
}

.clear 
{
	clear:both;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

#map-container #map-canvas img {
  max-width: none;
}

#map-container #map-canvas label {
  width: auto; display:inline;
}