<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :district %><br>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :target %><br>
    <%= f.text_field :target %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :city_usage %><br>
    <%= f.text_field :city_usage %>
  </div>
  <div class="field">
    <%= f.label :noncity_usage %><br>
    <%= f.text_field :noncity_usage %>
  </div>
  <div class="field">
    <%= f.label :noncity_control %><br>
    <%= f.text_field :noncity_control %>
  </div>
  <div class="field">
    <%= f.label :transaction_date %><br>
    <%= f.date_select :transaction_date %>
  </div>
  <div class="field">
    <%= f.label :num_transaction_land %><br>
    <%= f.number_field :num_transaction_land %>
  </div>
  <div class="field">
    <%= f.label :num_transaction_build %><br>
    <%= f.number_field :num_transaction_build %>
  </div>
  <div class="field">
    <%= f.label :num_transaction_park %><br>
    <%= f.number_field :num_transaction_park %>
  </div>
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :total_floors %><br>
    <%= f.text_field :total_floors %>
  </div>
  <div class="field">
    <%= f.label :usage %><br>
    <%= f.text_field :usage %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :built_date %><br>
    <%= f.date_select :built_date %>
  </div>
  <div class="field">
    <%= f.label :transaction_build_area %><br>
    <%= f.text_field :transaction_build_area %>
  </div>
  <div class="field">
    <%= f.label :num_room %><br>
    <%= f.number_field :num_room %>
  </div>
  <div class="field">
    <%= f.label :num_hall %><br>
    <%= f.number_field :num_hall %>
  </div>
  <div class="field">
    <%= f.label :num_bath %><br>
    <%= f.number_field :num_bath %>
  </div>
  <div class="field">
    <%= f.label :barrier %><br>
    <%= f.check_box :barrier %>
  </div>
  <div class="field">
    <%= f.label :management %><br>
    <%= f.check_box :management %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :price_per_area %><br>
    <%= f.text_field :price_per_area %>
  </div>
  <div class="field">
    <%= f.label :park_type %><br>
    <%= f.text_field :park_type %>
  </div>
  <div class="field">
    <%= f.label :transaction_park_area %><br>
    <%= f.text_field :transaction_park_area %>
  </div>
  <div class="field">
    <%= f.label :park_price %><br>
    <%= f.text_field :park_price %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
