<div class="left">
    <div class="ui-state-error-text ui-corner-all">
        <strong>選擇縣市:</strong>
        <form>
            <select name="location">
                <option value="Taichung">台中</option>
            </select>
        </form>
        <div id="counting"></div>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="ui-state-error-text ui-corner-all">
        <strong>Filter by Price:</strong>
        <span id="currentRange"></span>
        <div id="slider"></div>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="ui-state-error-text ui-corner-all">
        <strong>Zoom Level:</strong>
        <input id="spinner" value="8" readonly="readonly"/>
    </div>
    <div class="clear">&nbsp;</div>
    <div id="listing">
    </div>
</div>
<div class="right" id="map-container">
        <div id="map-canvas">
        </div>
</div>