<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @transaction.district %>
</p>

<p>
  <strong>Target:</strong>
  <%= @transaction.target %>
</p>

<p>
  <strong>Address:</strong>
  <%= @transaction.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @transaction.area %>
</p>

<p>
  <strong>City usage:</strong>
  <%= @transaction.city_usage %>
</p>

<p>
  <strong>Noncity usage:</strong>
  <%= @transaction.noncity_usage %>
</p>

<p>
  <strong>Noncity control:</strong>
  <%= @transaction.noncity_control %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @transaction.transaction_date %>
</p>

<p>
  <strong>Num transaction land:</strong>
  <%= @transaction.num_transaction_land %>
</p>

<p>
  <strong>Num transaction build:</strong>
  <%= @transaction.num_transaction_build %>
</p>

<p>
  <strong>Num transaction park:</strong>
  <%= @transaction.num_transaction_park %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @transaction.floor %>
</p>

<p>
  <strong>Total floors:</strong>
  <%= @transaction.total_floors %>
</p>

<p>
  <strong>Usage:</strong>
  <%= @transaction.usage %>
</p>

<p>
  <strong>Material:</strong>
  <%= @transaction.material %>
</p>

<p>
  <strong>Built date:</strong>
  <%= @transaction.built_date %>
</p>

<p>
  <strong>Transaction build area:</strong>
  <%= @transaction.transaction_build_area %>
</p>

<p>
  <strong>Num room:</strong>
  <%= @transaction.num_room %>
</p>

<p>
  <strong>Num hall:</strong>
  <%= @transaction.num_hall %>
</p>

<p>
  <strong>Num bath:</strong>
  <%= @transaction.num_bath %>
</p>

<p>
  <strong>Barrier:</strong>
  <%= @transaction.barrier %>
</p>

<p>
  <strong>Management:</strong>
  <%= @transaction.management %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transaction.price %>
</p>

<p>
  <strong>Price per area:</strong>
  <%= @transaction.price_per_area %>
</p>

<p>
  <strong>Park type:</strong>
  <%= @transaction.park_type %>
</p>

<p>
  <strong>Transaction park area:</strong>
  <%= @transaction.transaction_park_area %>
</p>

<p>
  <strong>Park price:</strong>
  <%= @transaction.park_price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transaction.comment %>
</p>

<p>
  <strong>Id:</strong>
  <%= @transaction.id %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
